body {

}

h2 {
  text-align: center; /* Center align the text */
}

/* .rating.rating-xs {
  text-align: center;
  padding-bottom: 1rem;
} */
.rating.rating-md {
  
padding-bottom: 1rem;}

.center-content {
  /* margin-top: 2rem; */

  align-items: center;
}
p{
    margin-top: 1rem;
}
.btn.btn-wide{
  margin-top: 1rem;
}
.container{
  width: 368px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}